.igmWeatherCurrentIcon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding-left: auto;
}

.igmWeatherForecastIcon {
  width: 70px;
  height: 70px;
  object-fit: cover;
  padding-left: auto;
}

.TempSel {
  font-size: 1.3rem;
}

.curTempFlexContainer {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
