$imgWidth : 100px;
$imgWidthForecast : 70px;

.igmWeatherCurrentIcon {
  width: $imgWidth;
  height: $imgWidth;
  object-fit : cover;
  padding-left : auto;
}

.igmWeatherForecastIcon {
  width: $imgWidthForecast;
  height: $imgWidthForecast;
  object-fit : cover;
  padding-left : auto;
}

.TempSel {
  font-size: 1.3rem;
}

.curTempFlexContainer {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  //align-content: center;
}
